<div class="col-sm-7 content">
    <div class="title-container">
        <div class="title">

            <div class="col-xs-1 star-border">
                <i class="fa fa-star fa-2x pink"></i>
                <i class="fa fa-star-o fa-2x black"></i>
            </div>

            <h3 class="col-xs-10">Gallery</h3>

            <div class="col-xs-1 star-border">
                <i class="fa fa-star fa-2x pink"></i>
                <i class="fa fa-star-o fa-2x black"></i>
            </div>

            <h3 data="photos">Photos</h3>

            <ul class="clearfix cast">
                <li class="col-sm-4" ng-repeat="photo in instagram" data="instagram">
                    <a ng-href="#/photos/{{photo.index}}">
                        <i class="fa fa-play-circle-o fa-3x white shadow" ng-if="photo.showIcon"></i>
                        <img ng-src="{{photo.images.low_resolution.url}}" />
                    </a>
                </li>
            </ul>

            <h3 data="photos">Videos</h3>

            <ul class="clearfix cast">
                <li class="col-sm-4" ng-repeat="video in youtube" data="instagram">
                    <a ng-href="#/videos/{{video.index}}/{{video.url}}" title="{{video.snippet.title}}">
                        <!-- <i class="fa fa-play-circle-o fa-3x white shadow"></i> -->
                        <img ng-src="{{video.snippet.thumbnails.medium.url}}" />
                    </a>
                </li>
            </ul>

        </div>            
    </div>
</div>
                    
<sidebar></sidebar>