<div class="col-sm-7 content">
    <div class="title-container">
        <div class="title">
            <div class="col-xs-1 star-border">
                <i class="fa fa-star fa-2x pink"></i>
                <i class="fa fa-star-o fa-2x black"></i>
            </div>
            <h3 class="col-xs-10">{{title}}</h3>
            <div class="col-xs-1 star-border">
                <i class="fa fa-star fa-2x pink"></i>
                <i class="fa fa-star-o fa-2x black"></i>
            </div>
            <div class="clearfix" ng-repeat="event in events | filter: filter">
                <a ng-href="#/{{title}}/{{event.index}}/{{event.url}}"><img ng-src="{{event.img}}" alt="{{event.name}}" title="{{event.name}}" /></a>
                <span ng-if="event.ticket_uri" data="ticket"><a ng-href="{{event.ticket_uri}}" title="Buy Tickets" target="_blank">Buy Tickets</a></span>
                <span data="date">{{event.date}}</span>
            </div>
        </div>                         
    </div>
</div>

<sidebar></sidebar>